
<form action="/Home/Add" method="post">
    <b>Author</b><br />
    <input type="text" name="author" class="input-lg" />
    <br />
    <br />

    <b>Blog</b><br />
    <textarea name="blog" placeholder="write/paste your blog content" rows="10" cols="100" class="input-lg" maxlength="600"></textarea>

    <br />
    <br />

    <input type="submit" name="Add" />

</form>